button {
  border: none;
  outline: none;
  background-color: aquamarine;
  color: navy;
  padding: 20px 60px;
  border-radius: 25px;
  box-shadow: 0 10px 30px gainsboro;
  position: relative;
  overflow: hidden;
}
button::before {
  content: '';
  position: absolute;
  background-color: rgb(174, 252, 226);
  padding: 50%;
  border-radius: 50%;
  left: calc(100% * var(--ripple-x));
  top: calc(100% * var(--ripple-y));
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 2s, opacity 2s;
}
button:active::before {
  transition: 0s;
  opacity: 1;
  transform: scale(-50%, -50%) scale(0);
}
